@{
    ViewData["Title"] = "Porsche - Contact";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />
</head>
<body>
    <div class="Container-MM">
        
    </div>
    
    <div class="interactive-circle">
        <div class="content">
            <p>
                The boys:<br />
                Moustafa Mahmoud Eraky 10004945 T-8 <br />
                Ahmed Essam Negm 10005389 T-8 <br />
                AbdelRahman Ahmed Ibrahim 10004269 T-6 <br />
                Ahmed Tamer 10004773 T-8 <br />
                Ahmed Mostafa 10005779 T-9 <br />
                Aly Mostafa Aboueyana 10006021 T-10 <br />
                Abdelrahman Ahmed Helmy 10006864 T-6 <br />
                Badr Alkashef 10005724 T-8 <br />
            </p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="~/js/Contact.js"></script> <!-- Link to your JS file -->
</body>

</html>