@{
    ViewData["Title"] = "Porsche - Contact";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" href="~/css/Contact.css" asp-append-version="true" />
</head>
<body>
    <div class="Container-MM">
        <div class="interactive-circle">
            <div class="content">
                <div>
                    <p class="name">Moustafa Mahmoud Eraky</p>
                    <p class="id">10004945 T-8</p>

                    <p class="name">Ahmed Essam Negm</p>
                    <p class="id">10005389 T-8</p>

                    <p class="name">AbdelRahman Ibrahim</p>
                    <p class="id">10004269 T-6</p>

                    <p class="name">Ahmed Tamer</p>
                    <p class="id">10004773 T-8</p>

                    <p class="name">Ahmed Mostafa</p>
                    <p class="id">10005779 T-9</p>

                    <p class="name">Aly Mostafa Aboueyana</p>
                    <p class="id">10006021 T-10</p>

                    <p class="name">Abdelrahman Ahmed Helmy</p>
                    <p class="id">10006864 T-6</p>

                    <p class="name">Badr Alkashef</p>
                    <p class="id">10005724 T-8</p>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="~/js/Contact.js"></script> <!-- Link to your JS file -->
</body>

</html>