<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>
<body>
    <header data-role="Header" class="home-header">
        <img src="~/images/Home.png" class="home-image" onclick="" />
        <img src="~/images/Contact.png" class="home-image" onclick="" />
        <img src="~/images/Add.png" class="home-image-mid" onclick="" />
        <img src="~/images/Collection.png" class="home-image" onclick="" />
        <img src="~/images/Login.png" class="home-image" onclick="" />
        <div data-role="BurgerMenu" class="home-burger-menu" onclick="openNav()">
            <img src="~/images/Car-go.png" class="home-icon-img" />
            <!--<svg viewBox="0 0 1024 1024" class="home-icon">
                <path d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"></path>
            </svg>-->
        </div>
        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
            <a href="~/HomePage/Index">Suv</a>
            <a href="~/Device/Index">Sedan</a>
            <a href="~/Comms/Index">Sports</a>
            <a href="~/Finance/Index">Limo</a>
            <a href="~/Room/Index">Muscle</a>
            <a href="~/Task/Index">Super</a>
            <a href="~/Task/Index">Van</a>
            <a href="~/Task/Index">Off-Road</a>
            <a href="~/Task/Index">Pick-Up</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CAR_GO - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
