<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true" />
</head>
<body>
    <header data-role="Header" class="home-header">
        <a href="~/About/Info">
            <img src="~/images/Header/About.png" class="home-image" onclick="" />
        </a>
        <a href="~/Collection/Index">
            <img src="~/images/Header/Collection.png" class="home-image" onclick="" />
        </a>
        <a href="~/Home/Index">
            <img src="~/images/Header/Porsche.png" class="home-image-mid" />
        </a>
        <a href="~/Contact/Info">
            <img src="~/images/Header/Contact.png" class="home-image" onclick="" />
        </a>
        <a href="~/Sign/SignIn">
            <img src="~/images/Header/SignIn.png" class="home-image" onclick="" />
        </a>
        <div data-role="BurgerMenu" class="home-burger-menu" onclick="openNav()">
            <svg viewBox="0 0 1024 1024" class="home-icon">
                <path d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"></path>
            </svg>
        </div>
    </header>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" sytle="color:snow;">x</a>
        <a href="~/Home/Index">Home</a>
        <a href="~/About/Info">About</a>
        <a href="~/Collection/Index">Collection</a>
        <a href="~/Contact/Info">Contact</a>
        <a href="~/Sign/SignIn">Sign In</a>
        <a href="~/Sign/SignUp">Sign Up</a>
    </div>
    <div class="content-container">
        <main role="main" class="pb-3">
          @RenderBody()
        </main>
    </div>
    <footer>
        <div class="footer">
            <!-- Text Section -->
            <div class="row">
                <h3>Contact us</h3>
                <div class="contact-list">
                    <ul>
                        <a href="https://github.com/dersleepy" target="_blank">Moustafa Mahmoud</a>
                        <a href="https://github.com/Anegm-exe" target="_blank">Ahmed Negm</a>
                        <a href="mailto:him@gmail.com">Ahmed Tamer</a>
                        <a href="#">Ali Mostafa</a>
                    </ul>
                    <ul>
                        <a href="#">Ahmed Mostafa</a>
                        <a href="#">Abdelrahman Ahmed</a>
                        <a href="#">Abdelrahman Ibrahim</a>
                        <a href="#">Badr Al-Kashef</a>
                    </ul>
                </div>
            </div>
            <!-- Social Media Icons Section -->
            <div class="social-media">
                <a href="https://www.facebook.com/porsche/" target="_blank"><img src="~/images/Footer/facebook.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/Porsche/" target="_blank"><img src="~/images/Footer/instagram.png" alt="Instagram"></a>
                <a href="https://rb.gy/7068q4" target="_blank"><img src="~/images/Footer/tiktok.png" alt="TikTok"></a>
                <a href="mailto:him@gmail.com"><img src="~/images/Footer/email.png" alt="Email"></a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
