@{
    ViewData["Title"] = "Porsche - Collection";
    Layout = "_Layout";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Collection.css" asp-append-version="true" />
</head>
<body>
    <div class="Container-MM" style="height:1000px">

    </div>
</body>