@{
    ViewData["Title"] = "Sign-in/Up - Porsche";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Log-Reg.css" asp-append-version="true" />
</head>
<body>
   <div class="Containerlogin">
        <img src="~/images/porschelogo.png" alt="Image Description" class="image">
       <!--email label-->
        <h3 class="title">email</h3>
        <input  id="emailInput" placeholder="him@yahoo.com">

        <!--password label-->
        <h3 class="title">Password</h3>
        <input  id="passwordInput" placeholder="Enter your password">


   </div>
</body>