@{
    ViewData["Title"] = "Sign-in/Up - Porsche";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Log-Reg.css" asp-append-version="true" />
</head>
<body>
    <!--bruteforce go brrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr-->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

   <div class="Containerlogin">
        <img src="~/images/logohim.png" alt="Image Description" class="image">
       <!--email label-->
        <h3 class="title">Email:</h3>
        <div class="textarea"><input id="emailInput" placeholder="him@yahoo.com"></div>
        

        <!--password label-->
        <h3 class="title">Password:</h3>
        <div class="textarea">
            
            <input type="password" id="passwordInput" placeholder="Enter your password">

            <img src="~/images/hide icon inverted.png" class="hideicon" onclick="pass()" id="hide_icon">
            
            <br/>
            <br/>
            <a href="">having trouble signing in? </a>  
            <br />
            <br />
            <a href="~/Home/Index">
            <button class="Siginpbtn">Sign in</button>
            </a>
            
        
        </div>
       


   </div>
</body>