@{
    ViewData["Title"] = "About - Porsche";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
</head>

<div class="container">
    <div class="text-content">
        Welcome to the heritage of Porsche, where every car is a masterpiece of engineering and design.
    </div>
    <div class="image-content">
        <img id="dynamicImage" src="~images/porsche 19.jpg" alt="Porsche">
    </div>
</div>
