@{
    ViewData["Title"] = "Porsche - About";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
    </head>
    <body>
    <div class="Container-Main">
        <div class="arrow" id="rightarrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h id="text">
            Porsche? The Dream
        </h>
        <p id="subText">
            Founded in 1931 by Ferdinand Porsche, Porsche initially offered motor vehicle development work and consulting but did not build any cars under its own name. The first Porsche-branded vehicle, the Porsche 356, was produced in 1948. It was a lightweight and nimble sports car based on Volkswagen components.
        </p>
        <div class="arrow" id="leftarrow">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <script src="~/js/About.js"></script>
    </body>
</html>