@{
    ViewData["Title"] = "Porsche - About";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
    </head>
    <body>
    <div class="Container-MM">
        <div class="Container-Main">
            <div class="arrow" id="rightarrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h id="text">
                Porsche: A Legacy of Automotive Excellence
            </h>
            <p id="subText">
                Porsche stands as a symbol of automotive excellence, renowned for its precision engineering, timeless design, and unparalleled performance. Founded in 1931 by Ferdinand Porsche, the company has continually pushed the boundaries of innovation, setting new standards in the automotive industry. From the iconic Porsche 911 to the exhilarating Porsche Cayenne, every vehicle bearing the Porsche emblem embodies the brand's commitment to quality, craftsmanship, and driving pleasure. With a rich heritage rooted in racing success, Porsche has translated its motorsport DNA into road-going vehicles that deliver an unmatched driving experience.
            </p>
            <div class="arrow" id="leftarrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div id="dots"></div>
        </div>
    </div>
    <script src="~/js/About.js"></script>
    </body>
</html>