/* Scroll Bar Hide */
html { scrollbar-width: none; /* Firefox */ }
body::-webkit-scrollbar { display: none; /* (Chrome, Safari, etc.) */ }
body::-webkit-scrollbar-track { background: transparent; /* scrollbar track invisible */ }
body::-webkit-scrollbar-thumb { background: transparent; /* scrollbar thumb (the draggable part) invisible */ }

/* Page Init */ 
body {
    background-image: url("/images/about/AboutBG.jpg");
    background-color: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: 'CF1';
    src: url('/fonts/Caflisch Script Regular.ttf') format('woff2');
}

/* Sections - Containers */
.Container-Main {
    position: fixed;
    width: 600px;
    height: 400px;
    top: 0;
    right: 0;
    transform: translate(-25%, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    color: white;
    border: none;
}

    .Container-Main h {
        text-align: center;
        font-family: 'CF1', Roboto;
        font-size: 40px;
        justify-content: center;
    }

    .Container-Main p {
        margin-left: 50px;
        margin-right: 50px;
        text-align: center;
        font-size: 16px;
    }

    /* Call Animation */
    .Container-Main h {
        animation: glow 6s ease-in-out infinite;
    }


/* Side Arrows */
.arrow {
    position: absolute;
    margin: -25px;
    cursor: pointer;
}

    .arrow span {
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        border-bottom: 5px solid darkred;
        border-right: 5px solid darkred;
        margin: -10px;
        animation: animate 2s infinite;
    }

    .arrow span:nth-child(2) {
        animation-delay: -0.2s;
    }

    .arrow span:nth-child(3) {
        animation-delay: -0.4s;
    }

#leftarrow {
    left: 0;
    transform: translate(-50%, -50%) rotate(90deg);
}

#rightarrow {
    right: 0;
    transform: translate(-50%, -50%) rotate(270deg);
}

/* Dots */
.dot {
    position: absolute;
    bottom: 10%;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    align-content: center;
    background-color: snow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: background-color 0.6s ease;
}

.active {
    background-color: goldenrod;
}

/* Animation */
@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* Glowing Effect */
@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
    }

    50% {
        text-shadow: 0 0 11px rgba(255, 255, 255, 0.3), 0 0 12px rgba(255, 255, 255, 0.3), 0 0 13px rgba(255, 255, 255, 0.3), 0 0 14px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
    }
}

/* Fading Effect */
@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(250px);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-250px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-250px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(250px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}