/* Scroll Bar Hide */
html { scrollbar-width: none; /* Firefox */ }
body::-webkit-scrollbar { display: none; /* (Chrome, Safari, etc.) */ }
body::-webkit-scrollbar-track { background: transparent; /* scrollbar track invisible */ }
body::-webkit-scrollbar-thumb { background: transparent; /* scrollbar thumb (the draggable part) invisible */ }

body {
    background-color: black;
    margin: 0;
}

/* Containers */
.Container-MM {
    position: relative;
    width: 100%;
    z-index: 0;
}