/* Scroll Bar Hide */
html { scrollbar-width: none; /* Firefox */ }
body::-webkit-scrollbar { display: none; /* (Chrome, Safari, etc.) */ }
body::-webkit-scrollbar-track { background: transparent; /* scrollbar track invisible */ }
body::-webkit-scrollbar-thumb { background: transparent; /* scrollbar thumb (the draggable part) invisible */ }

body, html {
    margin: 0;
    background-image: url("/images/contact/ContactBG.png");
    background-color: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: 'CF1';
    src: url('/fonts/Caflisch Script Regular.ttf') format('woff2');
}

.text-container {
    font-family: 'CF1', Roboto;
    position: fixed;
    bottom: 0px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
    color: white;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

.text-container h1, .text-container p {
    display: inline-block; /* Inline-block for proper padding and margin */
    margin: 10px 0; /* Vertical spacing for elements */
}

.text-container p {
    font-size: 30px;
    animation: glow 6s ease-in-out infinite;
    font-weight: bolder;
}

.text-container p a {
    color: white;
    text-decoration: none; /* Remove underline */
    border-bottom: 2px solid white; /* Add underline effect */
    padding-bottom: 3px; /* Space between text and underline */
}

.image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.social-media {
    margin-top: 20px; /* Adjust spacing between links */
}

.social-media img {
    width: 30px; /* Adjust the size of the icons */
    margin: 0 10px; /* Adjust spacing between icons */
    animation: glowIcons 6s ease-in-out infinite; /* Apply the glow animation */
}

.fade-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

@keyframes glow {
    0%, 100% {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.3); /* More dimmed initial and final state */
    }

    50% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 
            0 0 30px rgba(255, 255, 255, 0.35), 
            0 0 40px rgba(255, 255, 255, 0.3), 
            0 0 50px rgba(255, 255, 255, 0.25), 
            0 0 60px rgba(255, 255, 255, 0.2); /* More dimmed glow at the peak of the animation */
    }
}

.interactive-circle {
    position: fixed;
    left: 0;
    bottom: 10px; /* Adjusted to be at the bottom left */
    width: 45px; /* Initial size of the circle */
    height: 45px;
    background-color: rgba(255, 215, 0, 0); /* Transparent circle */
    border-radius: 50%;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
    animation: glowingCircle 6s ease-in-out infinite;
}

.interactive-circle:hover {
    width: 320px; /* Match the width of the text container */
    height: 203px; /* Adjust height based on content */
    bottom: 0px; /* Ensure it's aligned with the bottom of the viewport */
    border-radius: 10px; /* Optional: For rounded corners, you can set this to a specific value */
    background-color: rgba(255, 215, 0, 0); /* Transparent square */
    box-shadow: none; /* Stops the glow animation */
    animation: glowingCircle 6s ease-in-out infinite;
}

.content {
    font-family: 'CF1', Roboto;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white; /* Adjust based on your design */
    text-align: center;
    padding: 20px 0; /* Match padding with the text container */
    font-size: 20px; /* Adjust as needed */
    width: 100%; /* Ensure content fills the expanded square */
}

.interactive-circle:hover .content {
    opacity: 1;
    transition: opacity 2.5s ease; /* Slower fade-in */
}

@keyframes glowingCircle {
    0% {
        box-shadow: 0 0 5px rgba(251, 242, 161, 0.6), 
            0 0 15px rgba(251, 242, 161, 0.4), 
            0 0 30px rgba(251, 242, 161, 0.2);
    }

    50% {
        box-shadow: 0 0 10px rgba(251, 242, 161, 1), 
            0 0 20px rgba(251, 242, 161, 0.8), 
            0 0 40px rgba(251, 242, 161, 0.6);
    }

    100% {
        box-shadow: 0 0 5px rgba(251, 242, 161, 0.6), 
            0 0 15px rgba(251, 242, 161, 0.4), 
            0 0 30px rgba(251, 242, 161, 0.2);
    }
}

@keyframes glowIcons {
    0%, 100% {
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2)); /* More dimmed initial and final state */
    }

    50% {
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3)) 
        drop-shadow(0 0 30px rgba(255, 255, 255, 0.25)) 
        drop-shadow(0 0 40px rgba(255, 255, 255, 0.2)) 
        drop-shadow(0 0 50px rgba(255, 255, 255, 0.15)) 
        drop-shadow(0 0 60px rgba(255, 255, 255, 0.1)); /* More dimmed glow at the peak of the animation */
    }
}

/* contain deez nuts */
.Container-MM {
    position: relative;
    width: 100%;
    height: 1000px;
    z-index: -1;
    background-color: transparent;
}


