/* Scroll Bar Hide */
html { scrollbar-width: none; /* Firefox */ }
body::-webkit-scrollbar { display: none; /* (Chrome, Safari, etc.) */ }
body::-webkit-scrollbar-track { background: transparent; /* scrollbar track invisible */ }
body::-webkit-scrollbar-thumb { background: transparent; /* scrollbar thumb (the draggable part) invisible */ }

body, html {
    margin: 0;
    background-image: url("/images/contact/ContactBG.png");
    background-color: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: 'CF1';
    src: url('/fonts/Caflisch Script Regular.ttf') format('woff2');
}

/* contain deez nuts */
.Container-MM {
    position: relative;
    width: 100%;
    height: 1000px;   
    z-index: -1;
    background-color: transparent;
}

/* Styles for the interactive circle within the footer */
.interactive-circle {
    position: relative;
    top: 150px;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 215, 0, 0); /* Initially transparent */
    border-radius: 50%;
    transition: all 0.5s ease;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    animation: glowingCircle 6s ease-in-out infinite;
    margin: auto; /* Center the circle in its container */
}

    .interactive-circle:hover {
        width: 330px; /* Adjust as needed for the footer */
        height: 225px; /* Adjust as needed for content */
        border-radius: 10px; /* Adjust if you prefer rounded corners */
        background-color: rgba(255, 215, 0, 0); /* Slightly opaque or adjust as needed */
        animation: glowingCircle 6s ease-in-out infinite;
        margin: auto; /* Maintain the position in the center */
    }

.content {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    text-align: center;
    font-size: 22px;
}

.interactive-circle:hover .content {
    opacity: 1;
    transition: opacity 3s ease; /* Slower fade-in for content */
}

/* Responsive adjustments */
@media (max-width: 720px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-icons .social-media {
        justify-content: center;
    }

    .footer-future .interactive-circle, .footer-future .interactive-circle:hover {
        width: 45px; /* Adjust size for small screens */
        height: 45px;
        margin: 0 auto; /* Center circle */
    }

        .footer-future .interactive-circle:hover .content {
            opacity: 0; /* Optionally hide content on hover for small screens */
        }
}

@keyframes glowingCircle {
    0%, 100% {
        box-shadow: 0 0 5px rgba(251, 242, 161, 0.6), 0 0 15px rgba(251, 242, 161, 0.4), 0 0 30px rgba(251, 242, 161, 0.2);
    }

    50% {
        box-shadow: 0 0 10px rgba(251, 242, 161, 1), 0 0 20px rgba(251, 242, 161, 0.8), 0 0 40px rgba(251, 242, 161, 0.6);
    }
}