body, html {
    position: relative;
    z-index: -1;
}

/*sleepy made changes*/
.home-header {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 25px;
    display: flex;
    position: fixed; /* Change this from relative to fixed */
    top: 0; /* Ensure it sticks to the top */
    align-self: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    z-index: 1;
    border-radius: 0;
}

.content-container {
    position:relative;
    z-index: 0;
}

.home-image {
    height: 4rem;
    margin-left: 35px;
    margin-right: 35px;
}

.home-image-mid {
    height: 4.5rem;
    margin-left: 25px;
    margin-right: 25px;
}

.home-burger-menu {
    left: 75px;
    position: fixed;
    filter: invert(1);
    z-index: 2;
}

.home-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-self: center;
    z-index: 1;
}

.home-icon-img {
    height: 70px;
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    align-self: center;
}

@media(max-width: 479px) {
    .home-hero {
        padding-top: 32px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 32px;
    }

    .home-container1 {
        margin-bottom: 8px;
    }

    .home-btn-group {
        flex-direction: column;
    }

    .home-button1 {
        margin-top: 8px;
    }

    .home-text02 {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.sidebar {
    height: calc(100vh - 60px);
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    text-justify: auto;
    padding-top: 60px;
    backdrop-filter: blur(5px);
    z-index: 2;
}

.sidebar a {
    padding: 8px 15px 8px 32px;
    text-decoration: none;
    align-items: center;
    font-size: 32px;
    font-family: 'PT Stars';
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    z-index: 1;
}

    .sidebar a:hover {
        color: dimgrey;
    }

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 1;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.footer {
    position: relative;
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
    bottom: 0;
    width: 100%;
    z-index:0;
}

    .footer .row {
        width: 100%;
        margin: 1% 0%;
        padding: 0.6% 0%;
        color: gray;
        font-size: 0.8em;
    }

        .footer .row a {
            text-decoration: none;
            color: gray;
            transition: 0.5s;
        }

            .footer .row a:hover {
                color: #fff;
            }

        .footer .row ul {
            width: 100%;
        }

            .footer .row ul li {
                display: inline-block;
                margin: 0px 30px;
            }

        .footer .row a i {
            font-size: 2em;
            margin: 0% 1%;
        }

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

        .footer .row ul li {
            display: block;
            margin: 10px 0px;
            text-align: left;
        }

        .footer .row a i {
            margin: 0% 3%;
        }
}

/* social media icons */
.social-media {
    margin-top: 20px; /* Adjust spacing between links */
}

    .social-media img {
        width: 30px; /* Adjust the size of the icons */
        margin: 0 10px; /* Adjust spacing between icons */
        animation: glowIcons 6s ease-in-out infinite; /* Apply the glow animation */
    }

@keyframes glowIcons {
    0%, 100% {
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2)); /* More dimmed initial and final state */
    }

    50% {
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3)) drop-shadow(0 0 30px rgba(255, 255, 255, 0.25)) drop-shadow(0 0 40px rgba(255, 255, 255, 0.2)) drop-shadow(0 0 50px rgba(255, 255, 255, 0.15)) drop-shadow(0 0 60px rgba(255, 255, 255, 0.1)); /* More dimmed glow at the peak of the animation */
    }
}