body, html {
    position: relative;
    z-index: -1;
}

/*sleepy made changes*/
.home-header {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 25px;
    display: flex;
    position: fixed; /* Change this from relative to fixed */
    top: 0; /* Ensure it sticks to the top */
    align-self: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    z-index: 1;
    border-radius: 0;
}

.content-container {
    z-index: 0;
}

.home-image {
    height: 4rem;
    margin-left: 35px;
    margin-right: 35px;
}

.home-image-mid {
    height: 4.5rem;
    margin-left: 25px;
    margin-right: 25px;
}

.home-burger-menu {
    left: 75px;
    position: fixed;
    filter: invert(1);
    z-index: 2;
}

.home-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-self: center;
    z-index: 1;
}

.home-icon-img {
    height: 70px;
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    align-self: center;
}

@media(max-width: 479px) {
    .home-hero {
        padding-top: 32px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 32px;
    }

    .home-container1 {
        margin-bottom: 8px;
    }

    .home-btn-group {
        flex-direction: column;
    }

    .home-button1 {
        margin-top: 8px;
    }

    .home-text02 {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.sidebar {
    height: calc(100vh - 60px);
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    text-justify: auto;
    padding-top: 60px;
    backdrop-filter: blur(5px);
    z-index: 2;
}

.sidebar a {
    padding: 8px 15px 8px 32px;
    text-decoration: none;
    align-items: center;
    font-size: 32px;
    font-family: 'PT Stars';
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    z-index: 1;
}

    .sidebar a:hover {
        color: dimgrey;
    }

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 1;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}