@font-face {
    font-family: 'CF1';
    src: url('/fonts/Caflisch Script Regular.ttf') format('woff2');
}

body, html {
    position: relative;
    z-index: -1;
    font-family: 'CF1', Roboto;
}

/*sleepy made changes*/
.home-header {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 25px;
    display: flex;
    position: fixed; /* Change this from relative to fixed */
    top: 0; /* Ensure it sticks to the top */
    align-self: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    z-index: 1;
    border-radius: 0;
}

.content-container {
    position:relative;
    z-index: 0;
}

.home-image {
    height: 4rem;
    margin-left: 35px;
    margin-right: 35px;
}

.home-image-mid {
    height: 4.5rem;
    margin-left: 25px;
    margin-right: 25px;
}

.home-burger-menu {
    left: 75px;
    position: fixed;
    filter: invert(1);
    z-index: 2;
}

.home-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-self: center;
    z-index: 1;
}

.home-icon-img {
    height: 70px;
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    align-self: center;
}

@media(max-width: 479px) {
    .home-hero {
        padding-top: 32px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 32px;
    }

    .home-container1 {
        margin-bottom: 8px;
    }

    .home-btn-group {
        flex-direction: column;
    }

    .home-button1 {
        margin-top: 8px;
    }

    .home-text02 {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.sidebar {
    height: calc(100vh - 60px);
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
    text-justify: auto;
    padding-top: 60px;
    backdrop-filter: blur(5px);
    z-index: 2;
}

.sidebar a {
    padding: 8px 15px 8px 32px;
    text-decoration: none;
    align-items: center;
    font-size: 32px;
    font-family: 'PT Stars';
    color: white;
    display: block;
    transition: 0.3s;
    white-space: nowrap;
    z-index: 1;
}

    .sidebar a:hover {
        color: dimgrey;
    }

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 1;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 20px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

/* Base footer styles */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background: #000;
    color: gray;
}

.footer-section {
    flex: 1;
}

.footer-text, .footer-icons {
    text-align: left;
}

    .footer-icons .social-media {
        display: flex;
        justify-content: center;
    }

        .footer-icons .social-media a {
            margin: 0 10px;
        }

/* Styles for the interactive circle within the footer */
.footer-future .interactive-circle {
    position: relative;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 215, 0, 0); /* Initially transparent */
    border-radius: 50%;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    z-index: 100;
    animation: glowingCircle 6s ease-in-out infinite;
    margin: auto; /* Center the circle in its container */
}

    .footer-future .interactive-circle:hover {
        width: 330px; /* Adjust as needed for the footer */
        height: 225px; /* Adjust as needed for content */
        border-radius: 10px; /* Adjust if you prefer rounded corners */
        background-color: rgba(255, 215, 0, 0); /* Slightly opaque or adjust as needed */
        animation: glowingCircle 6s ease-in-out infinite;
        margin: auto; /* Maintain the position in the center */
    }

.footer-future .content {
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    text-align: center;
    font-size: 22px; /* Adjust as needed */
}

.footer-future .interactive-circle:hover .content {
    opacity: 1;
    transition: opacity 3s ease; /* Slower fade-in for content */
}

.footer-text h3, .footer-text ul {
    text-align: center;
}

.footer-text h3{
    font-size: 50px;
    margin: 0;
}

.footer-text ul li a {
    color: grey; /* Default text color */
    text-decoration: none; /* Removes underline */
    transition: color 0.3s ease-in-out; /* Smooth transition for color change */
    font-size: x-large;
}

    .footer-text ul li a:hover {
        color: white; /* Text color on hover */
    }

.footer-text ul {
    list-style-type: none; /* Removes bullet points */
    padding-left: 0; /* Removes the default padding on the left, if necessary */
}


@keyframes glowingCircle {
    0%, 100% {
        box-shadow: 0 0 5px rgba(251, 242, 161, 0.6), 0 0 15px rgba(251, 242, 161, 0.4), 0 0 30px rgba(251, 242, 161, 0.2);
    }

    50% {
        box-shadow: 0 0 10px rgba(251, 242, 161, 1), 0 0 20px rgba(251, 242, 161, 0.8), 0 0 40px rgba(251, 242, 161, 0.6);
    }
}

/* Responsive adjustments */
@media (max-width: 720px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .footer-icons .social-media {
        justify-content: center;
    }

    .footer-future .interactive-circle, .footer-future .interactive-circle:hover {
        width: 45px; /* Adjust size for small screens */
        height: 45px;
        margin: 0 auto; /* Center circle */
    }

        .footer-future .interactive-circle:hover .content {
            opacity: 0; /* Optionally hide content on hover for small screens */
        }
}


/* social media icons */
.social-media {
    margin-top: 20px; /* Adjust spacing between links */
}

    .social-media img {
        width: 30px; /* Adjust the size of the icons */
        margin: 0 10px; /* Adjust spacing between icons */
        animation: glowIcons 6s ease-in-out infinite; /* Apply the glow animation */
    }

@keyframes glowIcons {
    0%, 100% {
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2)); /* More dimmed initial and final state */
    }

    50% {
        filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.3)) drop-shadow(0 0 30px rgba(255, 255, 255, 0.25)) drop-shadow(0 0 40px rgba(255, 255, 255, 0.2)) drop-shadow(0 0 50px rgba(255, 255, 255, 0.15)) drop-shadow(0 0 60px rgba(255, 255, 255, 0.1)); /* More dimmed glow at the peak of the animation */
    }
}