body {
    background-image: url("/images/Sign/Sign.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

/* Container and Positions */
.Container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 550px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 5px double snow;
    border-radius: 25px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.25);
}
.Containerlogin {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    position: relative;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 75px 25px;
    grid-template-areas:
        "FirstName LastName"
        "Password Password2"
        "Email BD";
}

.FirstName {
    grid-area: FirstName;
}

.LastName {
    grid-area: LastName;
}

.Email {
    grid-area: Email;
}

.Password {
    grid-area: Password;
}

.Password2 {
    grid-area: Password2;
}

.BD {
    grid-area: BD;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}

/* image */
.CContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoimg {
    filter: invert();
    width: 100px;
    margin-top: 25px;
    height: auto;
}

/*Text Input*/
input {
    box-sizing: border-box;
    background: 0;
    border: 0;
    outline: none;
    width: 100%;
    max-width: 100%;
    font-size: 1.4em;
    color: white;
    transition: padding 0.3s 0.2s ease;
    padding-bottom: 15px;
}

    input:focus {
        padding-bottom: 25px;
    }
        input:focus + .line:after {
            transform: scaleX(1);
        }

.field {
    position: absolute;
    box-sizing: border-box;
}
    .field .line {
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 5px;
        background: #4f4f4f;
    }
        .field .line:after {
            content: "";
            position: absolute;
            float: right;
            width: 100%;
            height: 3px;
            transform: scalex(0);
            transition: transform 0.3s ease;
            background: white;
        }

/* Password Hide */
.hideicon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-125%);
    height: 13px;
    color: snow;
    filter: invert();
    cursor: pointer;
}

/* Data-Picker */
input[type="date"] {
    padding: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    border: none;
    cursor: pointer;
}

    input[type="date"]::-webkit-calendar-picker-indicator {
        filter: invert(0.5) sepia(1) saturate(0) hue-rotate(175deg);
    }

.birth {
    margin: 0;
    height: 0px;
    width: 175px;
    background: rgba(255, 255, 255, 0);
}

/* Submit Button */
.submitionbutton {
    --b: 3px; /* border thickness */
    --s: .3em; /* size of the corner */
    --color: #4f4f4f;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    cursor: pointer;
}

.submitionbutton:hover {
    --_p: 0px;
    
    outline-color: snow;
    color: white;
    outline-offset: .05em;
}

    .submitionbutton:active {
        background: #4f4f4f;
        color: #fff;
    }
/* Containers */
.TContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.BContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SignIn Button */
.button-style {
    background: none;
    color: snow;
    border: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 15px;
}

    .button-style:hover {
        color: goldenrod;
    }
